<h2>register</h2>

<% if @errors %>
  <%= erb :"_errors", locals: { errors: @errors } %>
<% end %>

<div class="user-form">
  <form method="POST" action="/users">
    <label for="full_name">First Name:</label>
    <input type="text" name="user[first_name]">
    <label for="full_name">Last Name:</label>
    <input type="text" name="user[last_name]">
    <label for="username">Username:</label>
    <input type="text" name="user[username]">
    <label for="email">Email:</label>
    <input type="text" name="user[email]">
    <label for="password">Password:</label>
    <input type="password" name="user[password]">
    <input type="submit" value="register">
  </form>
</div>
